certifi==2019.3.9
chardet==3.0.4
Django==2.2.13
django-countries==5.3.3
django-widget-tweaks==1.4.3
idna==2.8
numpy==1.16.2
Pillow==6.0.0
pytz==2018.9
requests==2.21.0
sqlparse==0.3.0
urllib3==1.24.1
