{% load staticfiles %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GL Bank : {% block title %}{% endblock %}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'CRM/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'CRM/vendors/css/vendor.bundle.base.css' %}"/>
    <link rel="stylesheet" href="{% static 'CRM/vendors/css/vendor.bundle.addons.css' %}"/>
    <link rel="stylesheet" href="{% static 'CRM/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'CRM/css/datepicker.min.css' %}"/>
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'CRM/css/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'CRM/images/favicon.png' %}"/>
</head>

<body>
{% block body %}
    <div class="container-scroller">

        {% comment %}Navbar part{% endcomment %}
        {% include 'CRM/parts/navbar.html' %}

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            {% include 'CRM/parts/sidebar.html' %}

            <!-- partial -->
            {% block content %}
                <div class="main-panel">

                    {% if client is not None %}
                        {% include 'CRM/parts/client-base-content.html' %}
                    {% else %}
                        {% include 'CRM/parts/employee-base-content.html' %}
                    {% endif %}

                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <footer class="footer">
                        <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="{% url 'crm:home' %}" target="_blank">GL Bank</a>. Tous les droits sont reservés.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">HAYTHAM DAHRI
              <i class="mdi mdi-heart text-danger"></i>
            </span>
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
            {% endblock %}
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
{% endblock %}
<!-- container-scroller -->

{% block js %}
    <!-- Jquery -->
    <script src="{% static 'CRM/js/jquery.min.js' %}"></script>
    <!-- plugins:js -->
    <script src="{% static 'CRM/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'CRM/vendors/js/vendor.bundle.addons.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'CRM/js/off-canvas.js' %}"></script>
    <script src="{% static 'CRM/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static 'CRM/js/dashboard.js' %}"></script>
    <!-- Fontawesome js for this page-->
    <script src="{% static 'CRM/js/all.min.js' %}"></script>

    <!-- moment js for this page-->
    <script src="{% static 'CRM/js/moment.min.js' %}"></script>
    <!-- Bootstrap Datetime Picker js for this page-->

    <script src="{% static 'CRM/js/datepicker.min.js' %}"></script>




    <!-- Custom js for this page-->
    <script src="{% static 'CRM/js/custom.js' %}"></script>
    <!-- End custom js for this page-->
{% endblock %}


</body>

</html>