{% extends 'CRM/base.html' %}
{% load widget_tweaks %}

{% block title %}Mes Clients{% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-12">
                                    <h4 class="card-title"><i class="fas fa-user-circle"></i> Liste des clients</h4>
                                </div>

                                <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-12">
                                    <form class="form-inline my-2 my-lg-0" method="GET"
                                          action="{% url 'crm:clients' %}">
                                        {% render_field client_search_form.search %}
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                            <span class="mdi mdi-search-web"></span>Rechercher
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <a href="{% url 'crm:add_client' %}">
                                <button type="button" class="btn btn-success btn-fw">
                                    <span class="mdi mdi-plus-outline"></span> Creer Compte Client
                                </button>
                            </a>

                            <div class="row mt-4">
                                <div class="col-md-12">
                                    {% include 'CRM/messages.html' %}
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr align="center">
                                        <th>
                                            Numero
                                        </th>
                                        <th>
                                            Nom utilisateur
                                        </th>
                                        <th>
                                            Date naissance
                                        </th>
                                        <th>
                                            Details
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for client in clients.object_list %}
                                        {% include 'CRM/parts/client-modal.html' %}
                                        <tr align="center">
                                            <td class="py-1">
                                                <span class="mdi mdi-account"></span>{{ client.id }}
                                            </td>
                                            <td align="center">
                                                {{ client.person.user.username }}
                                            </td>
                                            <td align="center">
                                                {{ client.person.birth_date|date:"d/m/Y" }}
                                            </td>
                                            <td align="center">
                                                <button class="btn btn-success btn-sm" data-toggle="modal"
                                                        data-target="#client-modal{{ client.pk }}"><span
                                                        class="mdi mdi-account-card-details"></span> Détails
                                                </button>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="6">
                                                <div class="alert alert-info text-center font-weight-bold">
                                                    <span class="mdi mdi-alert-box"></span> Aucun Client n'a été
                                                    trouvé!
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if clients.has_other_pages %}
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            {% if clients.has_previous %}
                                <div class="btn-group" role="group" aria-label="First group">
                                    <a href="{% url 'crm:clients' %}?page=1{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">
                                        <button type="button" class="btn btn-light"><<</button>
                                    </a>
                                    <a href="{% url 'crm:clients' %}?page={{ clients.previous_page_number }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">
                                        <button type="button" class="btn btn-light"><</button>
                                    </a>
                                </div>
                            {% endif %}
                            <div class="btn-group" role="group" aria-label="Second group">
                                {% for page_num in clients.paginator.page_range %}
                                    {% if clients.number == page_num %}
                                        <button type="button" class="btn btn-primary active">{{ page_num }}</button>
                                    {% else %}
                                        <a href="{% url 'crm:clients' %}?page={{ page_num }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">
                                            <button type="button" class="btn btn-light">{{ page_num }}</button>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if clients.has_next %}
                                <div class="btn-group" role="group" aria-label="Third group">
                                    <a href="{% url 'crm:clients' %}?page={{ clients.next_page_number }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">
                                        <button type="button" class="btn btn-light">></button>
                                    </a>
                                    <a href="{% url 'crm:clients' %}?page={{ clients.paginator.num_pages }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">
                                        <button type="button" class="btn btn-light">>></button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}