{% extends 'CRM/base.html' %}
{% load widget_tweaks %}

{% block title %}Transactions{% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-12">
                                    <h4 class="card-title"><span class="mdi mdi-format-list-bulleted"></span> Liste des
                                        transactions</h4>
                                </div>

                                <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-12">
                                    <form class="form-inline my-2 my-lg-0" method="GET"
                                          action="{% url 'crm:transactions' %}">
                                        {% render_field search_form.search %}
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                            <span class="mdi mdi-search-web"></span>Rechercher
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <a href="{% url 'crm:add_transaction' %}">
                                <button type="button" class="btn btn-success btn-fw">
                                    <span class="mdi mdi-tag-plus"></span> Transferer l'argent
                                </button>
                            </a>

                            <div class="row mt-4">
                                <div class="col-md-12">
                                    {% include 'CRM/messages.html' %}
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr align="center">
                                        <th>
                                            Numero de transaction
                                        </th>
                                        <th>
                                            Compte Emetteur
                                        </th>
                                        <th>
                                            Compte Recepteur
                                        </th>
                                        <th>
                                            Montant
                                        </th>
                                        <th>
                                            Date d'operation
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for transaction in transactions.object_list %}
                                        {% include 'CRM/parts/transaction-modal.html' %}
                                        <tr>
                                            <td class="py-1">
                                                <span class="mdi mdi-account"></span>{{ transaction.number }}
                                            </td>
                                            <td align="center">
                                                <a href="javascript:void(0)" data-toggle="modal"
                                                   data-target="#sender-modal{{ transaction.pk }}">
                                                    <img src="{{ transaction.sender_account.client.person.image.url }}"
                                                         alt="{{ transaction.sender_account.client.person.full_name }}"> {{ transaction.sender_account.credit_card }}
                                                </a>
                                            </td>
                                            <td align="center">
                                                <a href="javascript:void(0)" data-toggle="modal"
                                                   data-target="#receiver-modal{{ transaction.pk }}">
                                                    <img src="{{ transaction.receiver_account.client.person.image.url }}"
                                                         alt="{{ transaction.receiver_account.client.person.full_name }}"> {{ transaction.receiver_account.credit_card }}
                                                </a>
                                            </td>
                                            <td align="center">
                                                {{ transaction.amount }} Dh
                                            </td>
                                            <td align="center">
                                                {{ transaction.date | date:"l d b Y  G:i:s a" }}
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="6">
                                                <div class="alert alert-info text-center font-weight-bold">
                                                    <span class="mdi mdi-alert-box"></span> Aucune Transaction n'a été
                                                    éffectué
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if transactions.has_other_pages %}
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            {% if transactions.has_previous %}
                                <div class="btn-group" role="group" aria-label="First group">
                                    <a href="{% url 'crm:transactions' %}?page=1{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">
                                        <button type="button" class="btn btn-light"><<</button>
                                    </a>
                                    <a href="{% url 'crm:transactions' %}?page={{ transactions.previous_page_number }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">
                                        <button type="button" class="btn btn-light"><</button>
                                    </a>
                                </div>
                            {% endif %}
                            <div class="btn-group" role="group" aria-label="Second group">
                                {% for page_num in transactions.paginator.page_range %}
                                    {% if transactions.number == page_num %}
                                        <button type="button" class="btn btn-primary active">{{ page_num }}</button>
                                    {% else %}
                                        <a href="{% url 'crm:transactions' %}?page={{ page_num }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">
                                            <button type="button" class="btn btn-light">{{ page_num }}</button>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if transactions.has_next %}
                                <div class="btn-group" role="group" aria-label="Third group">
                                    <a href="{% url 'crm:transactions' %}?page={{ transactions.next_page_number }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">
                                        <button type="button" class="btn btn-light">></button>
                                    </a>
                                    <a href="{% url 'crm:transactions' %}?page={{ transactions.paginator.num_pages }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">
                                        <button type="button" class="btn btn-light">>></button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
