{% extends 'CRM/base.html' %}

{% block title %}Transactions{% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Liste des transactions</h4>

                            <a href="{% url 'crm:add_transaction' %}">
                                <button type="button" class="btn btn-success btn-fw">
                                    <span class="mdi mdi-tag-plus"></span> Transferer l'argent
                                </button>
                            </a>

                            <div class="row mt-4">
                                <div class="col-md-12">
                                    {% include 'CRM/messages.html' %}
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr align="center">
                                        <th>
                                            Numero de transaction
                                        </th>
                                        <th>
                                            Compte Emetteur
                                        </th>
                                        <th>
                                            Compte Recepteur
                                        </th>
                                        <th>
                                            Montant
                                        </th>
                                        <th>
                                            Date d'operation
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for transaction in transactions %}
                                        {% include 'CRM/parts/transaction_modal.html' %}
                                        <tr>
                                            <td class="py-1">
                                                <span class="mdi mdi-account"></span>{{ transaction.number }}
                                            </td>
                                            <td align="center">
                                                <a href="javascript:void(0)"  data-toggle="modal" data-target="#senderModal{{ transaction.pk }}">
                                                    <img src="{{ transaction.sender_account.client.person.image.url }}"
                                                         alt="{{ transaction.sender_account.client.person.full_name }}"> {{ transaction.sender_account.credit_card }}
                                                </a>
                                            </td>
                                            <td align="center">
                                                <a href="javascript:void(0)"  data-toggle="modal" data-target="#receiverModal{{ transaction.pk }}">
                                                    <img src="{{ transaction.receiver_account.client.person.image.url }}"
                                                         alt="{{ transaction.receiver_account.client.person.full_name }}"> {{ transaction.receiver_account.credit_card }}
                                                </a>
                                            </td>
                                            <td align="center">
                                                {{ transaction.amount }} Dh
                                            </td>
                                            <td align="center">
                                                {{ transaction.date | date:"l d b Y" }}
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="6">
                                                <div class="alert alert-info text-center font-weight-bold">
                                                    <span class="mdi mdi-alert-box"></span> Aucune Transaction n'a été
                                                    éffectué
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}