{% extends 'CRM/base.html' %}

{% block title %}Retraits{% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Liste des retraits</h4>

                            <a href="{% url 'crm:add_transaction' %}">
                                <button type="button" class="btn btn-success btn-fw">
                                    <span class="mdi mdi-tag-plus"></span> Retirer l'argent
                                </button>
                            </a>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr align="center">
                                        <th>
                                            Nom d'utilisateur
                                        </th>
                                        <th>
                                            Nom Complet
                                        </th>
                                        <th>
                                            Progression
                                        </th>
                                        <th>
                                            Montant
                                        </th>
                                        <th>
                                            Date d'operation
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for withdrawal in withdrawals %}
                                        <tr align="center">
                                            <td class="py-1">
                                                <img src="{{ withdrawal.account.client.person.image.url }}"
                                                     alt="image"/>
                                                {{ withdrawal.account.client.person.user.username }}
                                            </td>
                                            <td>
                                                {{ withdrawal.account.client.person.full_name }}
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar"
                                                         style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                {{ withdrawal.amount }} Dh
                                            </td>
                                            <td>
                                                {{ withdrawal.date | date:"l d b Y" }}
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="5">
                                                <div class="alert alert-info text-center font-weight-bold">
                                                    <span class="mdi mdi-alert-box"></span> Aucun Retrait n'a été
                                                    éffectué
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}