{% load staticfiles %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="{{ request.user.person.image.url }}" class="img-xs rounded-circle"
                             alt="profile image">
                    </div>
                    <div class="text-wrapper">
                        <p class="profile-name">{{ request.user.person.full_name }}</p>
                        <div>
                            <small class="designation text-muted">
                                {% if client is None %}
                                    Employe
                                {% else %}
                                    Client
                                {% endif %}
                            </small>
                            <span class="status-indicator online"></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% if client is not None %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'crm:transactions' %}">
                    <i class="menu-icon mdi mdi-transfer"></i>
                    <span class="menu-title">Transactions</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'crm:withdrawals' %}">
                    <i class="menu-icon mdi mdi-minus-box-outline"></i>
                    <span class="menu-title">Retraits</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'crm:deposits' %}">
                    <i class="menu-icon mdi mdi-plus-outline"></i>
                    <span class="menu-title">Virement</span>
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'crm:clients' %}">
                    <i class="menu-icon mdi mdi-clipboard-account"></i>
                    <span class="menu-title">Mes Clients</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'crm:clients_accounts' %}">
                    <i class="menu-icon mdi mdi-account-box-outline"></i>
                    <span class="menu-title">Comptes Clients</span>
                </a>
            </li>
        {% endif %}

    </ul>
</nav>